.filterContainer {
  position: fixed;
  bottom: 10%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 50;
}

.filterToggle {
  pointer-events: auto;
  border: 0.747px solid #1F2021;
  background: rgba(255, 255, 255, 0.90);
  display: inline-flex;
  padding: 10px 16px;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #1F2021;
  background: rgba(255, 255, 255, 0.80);
  height: 35px;
  text-transform: lowercase;
  color: #1F2021;
}

.filterMenu {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 12px;
  z-index: 100;
}


.filterList {
  display: flex;
  gap: 1rem;
  pointer-events: auto;
}

.filterItem {
  display: inline-flex;
  padding: 10px 16px;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #1F2021;
  background: rgba(255, 255, 255, 0.80);
  height: 35px;
  text-transform: lowercase;
  color: #1F2021;
}

.filterItem:hover {
  background-color: #1F2021;
  color: white;
}

.active {
  background-color: #1F2021;
  color: white;
  border: solid 1px white;

}

.filterTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  font-family: fustat-bold;
}

@media (max-width: 1024px) {
  .filterContainer {
    justify-content: center;
  }

  .filterMenu {
    justify-items: center;
    gap: 0.5rem;
  }

  .filterList {
    gap: 0;
  }

  .filterItem {
    justify-content: center;
    gap: 0;
  }
}