.h2Home {
  color: #1F2021;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: -4rem;
}

.projectList {
  display: flex;
  flex-direction: column;
}

.projectCard {
  display: flex;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}


.projectCard.show {
  opacity: 1;
  transform: translateY(0);
}


.leftImage {
  flex-direction: row-reverse;
  padding-left: 2rem;
}

.rightImage {
  flex-direction: row;
  padding-right: 2rem;
  margin-top: -28rem;
}

.projectCardImage {
  width: 100%;
  flex: 1 1 50%;
  object-fit: contain;
  display: block;
}


.imageContainer {
  position: relative;
  flex: 1 1 50%;
  aspect-ratio: 4 / 3;
}


.emptyHalf {
  flex: 1 1 100%;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;

}


.imageContainer:hover .overlay {
  opacity: 1;
}

.imageContainer:hover~.projectInfoRow .projectDetails {
  opacity: 1;

}

.plusIcon {
  font-size: 98px;
  font-weight: 100 !important;
  color: #FFFFFF;
  z-index: 3;
  font-family: 'Times New Roman', Times, serif;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  opacity: 0;
  text-align: right;


}

.projectDetails h3 {
  font-size: 19px;
  font-family: fustat-light;
  color: #1F2021;
}

.h3Category {
  text-transform: uppercase;
}

.projectInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  z-index: 105;
  text-align: right;

}


.projectDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


@media (max-width: 1024px) {

  .projectDetails {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .projectDate {
    display: none;
  }

  .projectCategory,
  .projectType {
    flex: 1 1 auto;
  }

  .projectCard {
    flex-direction: column !important;
    margin-top: 4rem;
    padding: 0;
    margin: 0;
  }

  .imageContainer {
    width: 100%;
    aspect-ratio: 4 / 3;
    flex: none;
    padding: 0;
    margin: 0;
    position: relative;

  }

  .projectCardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .emptyHalf {
    display: none;
  }

  .overlay {
    display: none;
  }

  .projectInfoRow {
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
    padding: 1.5rem 1rem;
    background-color: #fff;
  }

  .projectDetails {
    opacity: 1;
    margin-top: 0.5rem;
    text-align: left;
  }

  .projectDetails h3 {
    font-size: 16px;
  }

  .h2Home {
    font-size: 24px;
    margin-top: 1rem;
  }

  .overlay {
    top: auto !important;
    right: auto !important;
    left: 0 !important;
    bottom: 0 !important;
    position: absolute;
    width: 90px;
    height: 90px;
    backdrop-filter: blur(9px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
    transition: none;
    z-index: 2;
  }


  .plusIcon {
    font-weight: bold;
  }

  /* Anular el hover en mobile */
  .imageContainer:hover .overlay {
    opacity: 1;
  }
}