/* IMAGENES EL 50% Y HEIGHT AUTO */
.h2Home {
  color: #1F2021;
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: -4rem;
}

.projectList {
  display: flex;
  flex-direction: column;
}

.projectCard {
  display: flex;
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}


.projectCard.show {
  opacity: 1;
  transform: translateY(0);
}


.leftImage {
  flex-direction: row-reverse;
  padding-left: 2rem;
  margin-top: -7rem;
}

.rightImage {
  flex-direction: row;
  padding-right: 2rem;
  margin-top: -7rem;
}

.projectCardImage {
  width: 100%;
  flex: 1 1 50%;
  object-fit: contain;
  display: block;
}


.imageContainer {
  position: relative;
  flex: 1 1 50%;
  aspect-ratio: 4 / 3;
}


.emptyHalf {
  flex: 1 1 50%;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;

}


.imageContainer:hover .overlay {
  opacity: 1;
}

.imageContainer:hover~.projectInfoRow .projectDetails {
  opacity: 1;

}

.plusIcon {
  font-size: 48px;
  font-weight: bold;
  color: #000;
  z-index: 3;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  opacity: 0;


}

.projectDetails h3 {
  font-size: 19px;
  font-family: fustat-light;
  color: #1F2021;
}

.h3Category {
  text-transform: uppercase;
}

.projectInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  z-index: 105;

}